.dashboard-content {
  padding: 0px;
  margin: 0px;
}

.dashboard-content > div {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
}

.tabs {
  font-size: 0;
  width: 100%;
  min-height: 200px;
  margin: 0px 5px;
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  border: 1px solid #ebebeb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 8px 2px #ebebeb; 
}

.tabs:after {
  clear: both;
  content: '';
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab > [type="radio"] {
  display: none;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0px;
  width: 0px;
}

.tabs .tab-label {
  background: #f5f5f5;
  color: #5c666f;
  /*border: 1px solid transparent; */
  width: 50%;
  top: -1px;
  margin: 0px;
  padding: 10px 0px; 
  display: inline-block;
  position: relative;
  font-size: 1rem;
  font-family: 'Proxima Nova';
  vertical-align: bottom;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  background-color: #5c666f;
  color: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 9999;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  float: left;
  border: none;
  display: block;
  padding: 10px;
  font-family: 'Proxima Nova Alt';
  text-align: center;
  font-size: 1rem;
}

.tabs .tab-content p {
  padding: 00px 10px;
}

.plusicon {
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 0px!important;
  box-sizing: border-box;
}

.welcomeBox {
  margin: 30px 20px;
  background-color: #ffe6cb;
  padding: 40px 30px;
}

.dialogButtonGroup {
  overflow: auto;
  padding: 1px;
  margin: 0px;
}

.dialogButtonGroup > div {
  float: right;
}

.dialogButton {
  width: 132px;
  margin-top: 10px;
  margin-left: 10px;
}